In [1]:
a = 5
# printing value of a 
print ("The value of a is: " + str(a))

The value of a is: 5

In [4]:
#The str() function converts the specified value into a string.
b = str(a)

In [5]:
type(b)

str

In [7]:
print("geeks") 
print("geeksforgeeks")

geeks
geeksforgeeks

In [11]:
for i in range(4): 
    print(a[i])

1
2
3
4

In [9]:
range(4)

range(0, 4)

In [12]:
for i in range(4): 
    print(a[i], end =" ")

1 2 3 4

In [14]:
i = 10
if (i>15):
    print("10 is less than 15")
else:
    print("10 is more than 15")

10 is more than 15

In [15]:
i = 10
if (i > 15): 
   print ("10 is less than 15") 
print ("I am Not in if")

I am Not in if

In [19]:
num1 = 16
num2 =12
sum = num1+num2

In [20]:
print("Sum of {0} and {1} is {2}" .format(num1, num2, sum))

Sum of 16 and 12 is 28

In [ ]:
# Python3 program to add two numbers 
  
number1 = input("First number: ") 
number2 = input("\nSecond number: ") 
sum = float(number1) + float(number2) 
  
# Display the sum 
# will print value in float 
print("The sum of {0} and {1} is {2}" .format(number1, number2, sum))

In [27]:
num1 = input("First Number: ")
num2 = input("\nSecond Number: ")
sum = float(num1) + float(num2)

print("The sum of {0} and {1} is {2}" .format(num1,num2,sum))

First Number: 45

Second Number: 45
The sum of 45 and 45 is 90.0

In [31]:
# Python program to find the 
# maximum of two numbers 

a = 2
b = 4
if a >=b:
    print(a)
else:
    print (b)

4

In [ ]:
#Python | Maximum and Minimum value from two lists
# Python3 code to demonstrate 
# maximum and minimum values in two lists  
# using max() + min() + "+" operator 
  
# initializing lists 
test_list1 = [1, 3, 4, 5, 2, 6] 
test_list2 = [3, 4, 8, 3, 10, 1] 
  
# printing the original lists 
print ("The original list 1 is : " + str(test_list1)) 
print ("The original list 2 is : " + str(test_list2)) 
  
# using max() + min() + "+" operator 
# maximum and minimum values in two lists  
max_all = max(test_list1 + test_list2) 
min_all = min(test_list1 + test_list2) 
  
# printing result 
print ("The maximum of both lists is : " + str(max_all)) 
print ("The minimum of both lists is : " + str(min_all))

In [32]:
test_list1 = [1,2,3,4,5,5]
test_list2 = [2,3,6,7,8,5]
print ("the original list 1 is: " +str(test_list1))
print("the original list 2 is: " +str(test_list2))
max_all = max(test_list1 + test_list2) 
min_all = min(test_list1 + test_list2)

the original list 1 is: [1, 2, 3, 4, 5, 5]
the original list 2 is: [2, 3, 6, 7, 8, 5]

In [33]:
max_all

8

In [34]:
min_all

1

In [38]:
#write a program to add two numbers

a='10'
b='17'
sum = float(a)+float(b)

In [39]:
sum

27.0

In [40]:
type(a)

str

In [46]:
#write a python program to find a remainder when a number is divided by 2
a = 343
b = 12
print("The remainder when a is divided by b is", a%b)

The remainder when a is divided by b is 7

In [51]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

avg = (a+b)/2
print("The average of a and b is", avg)

Enter first number: 2
Enter second number: 3
The average of a and b is 2.5

In [53]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

square = a**b
print("The square of a and b is", square)

Enter first number: 2
Enter second number: 3
The square of a and b is 8

# Day_2

In [1]:
#String: String is a datatype in python which is a sequence of characters enclosed in quotes

In [1]:
name = "Aditi"

In [2]:
print(type(name))

<class 'str'>

In [9]:
name[1:2]

'd'

In [16]:
#concatinating two strings
greeting = "Goodmorning, "
print(greeting + name)

Goodmorning, Aditi

In [17]:
len(name)

5

In [27]:
#write a python prgm to enter user input

name = input("Enter your name: ")
print("GoodMorning, " + name)

Enter your name: mimi
GoodMorning, mimi

In [23]:
name = input("Enter your name\n")
print("Good Afternoon, " + name)

Enter your name
Mimi
Good Afternoon, Mimi

In [32]:
#write a letter which will replace the name and the date

letter = ''' Dear, <|Name|>
            You are selected for the role
            Regards,
             Mimi
             <|Date|>'''

name = input("Enter your Name\n")
date = input("Enter the date\n")
letter = letter.replace("<|Name|>", name)
letter = letter.replace("<|Date|>", date)
print(letter)

Enter your Name
Aditi Pawar
Enter the date
25/12
 Dear, Aditi Pawar
            You are selected for the role
            Regards,
             Mimi
             25/12

In [33]:
name

'Aditi Pawar'

In [37]:
name.count("d")

1

In [42]:
#program to find the double spaces
st = "This is a string with double    spaces"

doubleSpaces = st.find("  ")
print(doubleSpaces)

28

In [45]:
st = "This is a string with double    spaces"

In [48]:
#program to replace double space
doubleSpaces = st.replace("  "," ")
print(doubleSpaces)

This is a string with double spaces ok

In [47]:
st = "This is a string with double  spaces  ok"

st = st.replace("  ", " ")
print(st)

This is a string with double spaces ok

In [51]:
#formatiing a letter
letter = "Dear Mimi, This Python course is nice! Thanks!"
formatted_letter = "Dear Mimi, \n\tThis Python course is nice! \nThanks!"
print(formatted_letter)

Dear Mimi,
	This Python course is nice!
Thanks!

In [ ]:
#\n for spacing
#\t for tab space

In [52]:
list = [0,1,4,56,2,3]

In [53]:
print(list)

[0, 1, 4, 56, 2, 3]

In [54]:
#ordered list to store any datatype

In [56]:
print(list[5])

3

In [57]:
list[3] = 18

In [58]:
print(list)

[0, 1, 4, 18, 2, 3]

In [59]:
list.append(9)

In [61]:
list.sort()
list

[0, 1, 2, 3, 4, 9, 18]

In [62]:
list.insert(5,6)

In [63]:
list

[0, 1, 2, 3, 4, 6, 9, 18]

In [65]:
list.pop(7)

18

In [69]:
list.pop(-1)

9

In [68]:
print(list[0:4])

[0, 2, 3, 4]

In [71]:
list.append('Aditi')

In [72]:
list

[0, 2, 3, 4, 6, 'Aditi']

In [73]:
#tuple are immutable data types in python
a = ()#empty tuple

In [75]:
a = (1,2,3,5,7,7)

In [77]:
print(a)

(1, 2, 3, 5, 7, 7)

In [78]:
print(a[0])

1

In [81]:
a

(1, 2, 3, 5, 7, 7)

In [84]:
print(a.count(7))

2

In [87]:
print(a.index(3))

2

In [88]:
len(a)

6

In [95]:
#enter a user input fruits name

f1 = input("enter a fruit name: ")
f2 = input("enter a fruit name: ")
f3 = input("enter a fruit name: ")

fruits = [f1,f2,f3]
print(fruits)

enter a fruit name: apple
enter a fruit name: banana
enter a fruit name: orange
['apple', 'banana', 'orange']

In [96]:
m1 = int(input("Enter Marks for Student Number 1: "))
m2 = int(input("Enter Marks for Student Number 2: "))
m3 = int(input("Enter Marks for Student Number 3: "))
m4 = int(input("Enter Marks for Student Number 4: "))
m5 = int(input("Enter Marks for Student Number 5: "))
m6 = int(input("Enter Marks for Student Number 6: "))

myList = [m1, m2, m3, m4, m5, m6]
myList.sort()
print(myList)

Enter Marks for Student Number 1: 34
Enter Marks for Student Number 2: 45
Enter Marks for Student Number 3: 67
Enter Marks for Student Number 4: 77
Enter Marks for Student Number 5: 89
Enter Marks for Student Number 6: 12
[12, 34, 45, 67, 77, 89]

In [97]:
a = [23,45,44,23,22]

sum = a[0]+a[1]+a[2]+a[3]+a[4]
print(sum)

157

In [98]:
a = (7,4,5,0,0,0,5)
a.count(0)

3