In [1]:
a = 5
# printing value of a 
print ("The value of a is: " + str(a))

The value of a is: 5

In [4]:
#The str() function converts the specified value into a string.
b = str(a)

In [5]:
type(b)

str

In [7]:
print("geeks") 
print("geeksforgeeks")

geeks
geeksforgeeks

In [11]:
for i in range(4): 
    print(a[i])

1
2
3
4

In [9]:
range(4)

range(0, 4)

In [12]:
for i in range(4): 
    print(a[i], end =" ")

1 2 3 4

In [14]:
i = 10
if (i>15):
    print("10 is less than 15")
else:
    print("10 is more than 15")

10 is more than 15

In [15]:
i = 10
if (i > 15): 
   print ("10 is less than 15") 
print ("I am Not in if")

I am Not in if

In [19]:
num1 = 16
num2 =12
sum = num1+num2

In [20]:
print("Sum of {0} and {1} is {2}" .format(num1, num2, sum))

Sum of 16 and 12 is 28

In [ ]:
# Python3 program to add two numbers 
  
number1 = input("First number: ") 
number2 = input("\nSecond number: ") 
sum = float(number1) + float(number2) 
  
# Display the sum 
# will print value in float 
print("The sum of {0} and {1} is {2}" .format(number1, number2, sum))

In [27]:
num1 = input("First Number: ")
num2 = input("\nSecond Number: ")
sum = float(num1) + float(num2)

print("The sum of {0} and {1} is {2}" .format(num1,num2,sum))

First Number: 45

Second Number: 45
The sum of 45 and 45 is 90.0

In [31]:
# Python program to find the 
# maximum of two numbers 

a = 2
b = 4
if a >=b:
    print(a)
else:
    print (b)

4

In [ ]:
#Python | Maximum and Minimum value from two lists
# Python3 code to demonstrate 
# maximum and minimum values in two lists  
# using max() + min() + "+" operator 
  
# initializing lists 
test_list1 = [1, 3, 4, 5, 2, 6] 
test_list2 = [3, 4, 8, 3, 10, 1] 
  
# printing the original lists 
print ("The original list 1 is : " + str(test_list1)) 
print ("The original list 2 is : " + str(test_list2)) 
  
# using max() + min() + "+" operator 
# maximum and minimum values in two lists  
max_all = max(test_list1 + test_list2) 
min_all = min(test_list1 + test_list2) 
  
# printing result 
print ("The maximum of both lists is : " + str(max_all)) 
print ("The minimum of both lists is : " + str(min_all))

In [32]:
test_list1 = [1,2,3,4,5,5]
test_list2 = [2,3,6,7,8,5]
print ("the original list 1 is: " +str(test_list1))
print("the original list 2 is: " +str(test_list2))
max_all = max(test_list1 + test_list2) 
min_all = min(test_list1 + test_list2)

the original list 1 is: [1, 2, 3, 4, 5, 5]
the original list 2 is: [2, 3, 6, 7, 8, 5]

In [33]:
max_all

8

In [34]:
min_all

1

In [38]:
#write a program to add two numbers

a='10'
b='17'
sum = float(a)+float(b)

In [39]:
sum

27.0

In [40]:
type(a)

str

In [46]:
#write a python program to find a remainder when a number is divided by 2
a = 343
b = 12
print("The remainder when a is divided by b is", a%b)

The remainder when a is divided by b is 7

In [51]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

avg = (a+b)/2
print("The average of a and b is", avg)

Enter first number: 2
Enter second number: 3
The average of a and b is 2.5

In [53]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

square = a**b
print("The square of a and b is", square)

Enter first number: 2
Enter second number: 3
The square of a and b is 8